* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.container {
  width: 900px;
  height: 90%;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  padding-top: 1rem;
  position: relative;

  .game-info {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 2rem;

    &-item {
      border-radius: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 20px;
      padding: 10px;
      transition: all 0.2s ease-in-out;
      font-size: 20px;

      &:nth-of-type(1) {
        color: red;

        &.active {
          box-shadow: 0 0 10px 2px rgba($color: red, $alpha: 1);
        }
      }

      &:nth-of-type(3) {
        color: blue;

        &.active {
          box-shadow: 0 0 10px 2px rgba($color: blue, $alpha: 1);
        }
      }
    }

    .game-turn {
      width: 200px;
      font-size: 20px;
      font-weight: 700;
    }
  }

  .game {
    position: relative;
    .row,
    .col {
      position: absolute;
      height: 5px;
      width: 100%;
      left: calc(5px);
      display: flex;
      gap: 5px;

      .line {
        width: 50px;
        height: 5px;
        border-radius: 5px;
        background-color: black;
        box-shadow: 0 0 10px 2px rgba(0, 0, 0, 1);
        opacity: 0;
        transition: opacity 0.2s ease-in-out;
        cursor: pointer;

        &:hover {
          opacity: 0.3;
        }
        &.active {
          opacity: 1;
        }

        &.blue {
          background-color: blue;
          box-shadow: 0 0 10px 2px rgba(0, 0, 255, 1);
        }

        &.red {
          background-color: red;
          box-shadow: 0 0 10px 2px rgba(255, 0, 0, 1);
        }
      }
    }

    .col {
      width: 5px;
      height: 100%;
      flex-direction: column;
      top: 5px;

      .line {
        width: 5px;
        height: 50px;
      }
    }

    .dots {
      width: 100%;
      height: 100%;
      display: flex;
      flex-wrap: wrap;
      gap: 50px;
      align-content: center;

      .dot {
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background-color: black;
      }
    }

    .letter {
      position: absolute;
      font-size: 50px;
      font-weight: 700;
      color: black;
      opacity: 1;

      &.blue {
        color: blue;
        text-shadow: 0 0 10px rgba(0, 0, 255, 1);
      }

      &.red {
        color: red;
        text-shadow: 0 0 10px rgba(255, 0, 0, 1);
      }
    }
  }

  .winner {
    position: absolute;
    width: 300px;
    height: 300px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid rgba($color: #000000, $alpha: 0.4);
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba($color: #000000, $alpha: 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 20px;
    gap: 20px;
    display: none;

    &.active {
      display: flex;
      animation: appear 0.3s ease-in-out forwards;

      @keyframes appear {
        100% {
          width: 500px;
          height: 500px;
        }
      }
    }

    button {
      padding: 10px;
      border-radius: 10px;
      border: none;
      background-color: #000000;
      color: #ffffff;
      font-size: 20px;
      font-weight: 700;
      cursor: pointer;
      transition: all 0.2s ease-in-out;
      border: 1px solid black;

      &:hover {
        background-color: #ffffff;
        color: #000000;
      }
    }
  }

  @media (max-width: 1000px) {
    width: 100%;
  }
}
